#cat-container{
    background-color: blue;
    width: 100%;
    height: 85vh;
    line-height: 0px;
    /* First one for FireFox, second one for Chrome */
    image-rendering: optimizespeed;
    image-rendering: pixelated;
}

label{
    min-width: 180px;
}

label > input{
    float: right;
    margin-right: 20px;
}