#cat-container{
    background-color: rgb(255, 81, 97);
    height: 85vh;
    line-height: 0px;
    /* First one for FireFox, second one for Chrome */
    image-rendering: optimizespeed;
    image-rendering: pixelated;
}

label{
    min-width: 100px;
}