
body {
    margin: 0;
    min-height: 80vh;
    background-color: #333;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#screen {
    float: left;
    width: 900px;
    height: 900px;
    margin: 10px 50px;
    background-color: #ccc;
    box-shadow: 0px 10px 25px #000a;
    image-rendering: pixelated;
    cursor: pointer;
}
#controls {
    float: left;
    width: calc( 100% - 1000px );
}

.box {
    float: left;
    border-radius: 8px;
    margin: 10px;
    padding: 20px 30px;
    background-color: #404040;
    box-shadow: 0px 4px 6px #0004;
}
.box > h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

#trans-select > label {
    display: block;
    line-height: 2em;
}
#drawing button {
    display: block;
    width: 80%;
    margin: 10px 10%;
}

button {
    color: #aaa;
    margin: 10px;
    padding: 4px 10px;
    background-color: #444;
    box-shadow: 0px 4px 4px #0004;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
}
button:hover {
    background-color: #464646;
    box-shadow: 0px 2px 2px #0004;
}
button:active {
    color: #bbb;
    background-color: #3c3c3c;
    box-shadow: inset 0px 2px 4px #0004;
}

input[type=radio] { position: relative; top: 3px; margin-right: 4px }
input[type=radio]:before { 
    content: '';
    pointer-events: none;
    position: absolute;
    left: -4px; top: -4px;
    width: 10px; height: 10px;
    border-radius: 10px;
    background-color: #444;
    border: solid #333 5px;
}
input[type=radio]:active:before {
    background-color: #333;
}
input[type=radio]:checked:before {
    background-color: #222;
}