
/**********************************\
             PAGE LAYOUT
\**********************************/

body {
    margin: 0;
    min-height: 80vh;
    background-color: #333;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
    float: left;
    border-radius: 8px;
    margin: 10px;
    padding: 20px 30px;
    background-color: #404040;
    box-shadow: 0px 4px 6px #0004;
}
.box > h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

#canvas-wrap{
    position: relative;
    float: left;
    width: 900px;
    height: 900px;
    margin: 10px 20px 10px 40px;
}
#screen {
    position: absolute;
    left: 0; top: 0;
    background-color: #ccc;
    box-shadow: 0px 10px 25px #000a;
    image-rendering: pixelated;
    cursor: none;
}

#controls {
    float: left;
    width: calc( 100% - 980px );
}

#editor-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#brush-circle {
    box-sizing: border-box;
    position: absolute;
    border-radius: 100000px;
    border: 2px solid #fffB;
    z-index: 2;
    visibility: hidden;
}
    #brush-circle.drawing { border: 1px solid #fffc }
    #canvas-wrap:hover #brush-circle { visibility: visible }

#rectangles {
    position: relative;
    width: 100%; height: 100%;
    z-index: 2;
}
#rectangles > .rectangle {
    position: absolute;
    box-sizing: border-box;
    transform-origin: bottom left;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 880px;
    text-align: center;
    line-height: 950px;
}
#rectangles > .rectangle:nth-child(1), #rectangles > .rectangle:nth-child(7)  { background-color: #f001; border-color: #800; color: #8006; }
#rectangles > .rectangle:nth-child(2), #rectangles > .rectangle:nth-child(8)  { background-color: #0f01; border-color: #080; color: #0806; }
#rectangles > .rectangle:nth-child(3), #rectangles > .rectangle:nth-child(9)  { background-color: #00f1; border-color: #008; color: #0086; }
#rectangles > .rectangle:nth-child(4), #rectangles > .rectangle:nth-child(10) { background-color: #aa01; border-color: #660; color: #6606; }
#rectangles > .rectangle:nth-child(5), #rectangles > .rectangle:nth-child(11) { background-color: #a0a1; border-color: #606; color: #6066; }
#rectangles > .rectangle:nth-child(6), #rectangles > .rectangle:nth-child(12) { background-color: #0aa1; border-color: #066; color: #0666; }
#rectangles > .rectangle.STR { border-style: dashed }


#transform-info, #custom-transform-box {
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
    background-color: #3b3b3b;
    box-shadow: inset 0px 2px 4px #0004;
}
    table.matrix {
        display: inline-block;
        vertical-align: middle;
        padding: 2px 4px 3px;
        border-radius: 12px;
        border-left: 2px #aaa solid;
        border-right: 2px #aaa solid;
        border-top: 1px #3b3b3b solid;
        border-bottom: 1px #3b3b3b solid;
    }
    table.matrix td{
        text-align: center
    }
    #transform-info .big{
        display: block;
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }
    .x-var, .y-var{
        color: #99f
    }

#drawing {
    max-width: 16%;
}
#drawing-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    #drawing button {
        margin: 4px 2px;
        flex-grow: 1;
    }

/**********************************\
          TRANSFORM EDITING
\**********************************/

form.custom-STR, form.custom-matrix {
    display: inline;
}

.add-txy {
    position: relative;
    margin-left: -10px !important;
    z-index: 10;
}

.txy {
    display: inline-block;
    position: relative;
    padding-right: 16px;
    text-indent: 0;
}
    .txy:not(:first-child){
        padding-left: 10px;
        margin-left: 10px;
    }
    .txy:not(:first-child):before{
        content: 'and';
        position: absolute;
        top: 30%;
        left: -22px;
    }
    .txy > .del-txy {
        visibility: hidden;
        position: absolute;
        top: -4px;
    }
    .txy:hover > .del-txy { visibility: visible }

/**********************************\
        INTERACTIVE ELEMENTS
\**********************************/

button {
    color: #ccc;
    margin: 10px;
    padding: 4px 10px;
    background-color: #444;
    box-shadow: 0px 4px 4px #0004;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 10px;
}
    button:hover {
        background-color: #505050;
        box-shadow: 0px 2px 2px #0004;
    }
    button:active {
        color: #aaa;
        background-color: #3c3c3c;
        box-shadow: inset 0px 2px 4px #0004;
    }

    button.bigger { font-size: 1.2em }
    button.small { padding: 2px 6px; border-radius: 6px; margin: 3px }
    button.tiny  { padding: 0px 4px; border-radius: 4px; margin: 2px }

    button.important { color: #c2d8d8; background-color: #3c4747 }
        button.important:hover { background-color: #3a5f5d }
        button.important:active { color: #a3bbbb; background-color: #263a3a }

    button.red { color: #ccbbbb; background-color: #663a3a }
        button.red:hover { background-color: #a14545 }
        button.red:active { color: #c8a3a3; background-color: #582828 }

    button.yellow { color: #ccbbbb; background-color: #79663e }
        button.yellow:hover { background-color: #a08f45 }
        button.yellow:active { color: #c8a3a3; background-color: #5a5120 }


select {
    padding: 3px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ddd;
    background-color: #444;
}
    option {
        color: #ddd;
        background-color: #444;
    }
    option[disabled]{
        font-weight: bold;
        font-variant: small-caps;
        color: #bbb;
        background-color: #333;
    }


input[type=radio] { position: relative; top: 2px; margin-right: 4px }
input[type=radio]:before { 
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: -4px; top: -4px;
    width: 20px; height: 20px;
    border-radius: 10px;
    background-color: #444;
    border: solid #333 5px;
    pointer-events: none;
}
    input[type=radio]:hover:before { background-color: #555 }
    input[type=radio]:checked:before { background-color: #222 }
    input[type=radio]:active:before { background-color: #333 }

input[type=checkbox] { position: relative; top: 2px; margin-right: 10px }
input[type=checkbox]:before { 
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: -4px; top: -4px;
    width: 20px; height: 20px;
    border-radius: 2px;
    background-color: #444;
    border: solid #333 5px;
    pointer-events: none;
}
    input[type=checkbox]:hover:before { background-color: #555 }
    input[type=checkbox]:checked:before { background-color: #222 }
    input[type=checkbox]:active:before { background-color: #333 }

input[type=text]{
    border-radius: 4px;
    padding: 3px 4px;
    background-color: #ddd;
    border: none;
}
    input[type=text]:hover{ background-color: #eee }