
body {
    margin: 0;
    min-height: 80vh;
    background-color: #333;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#screen {
    float: left;
    width: 900px;
    height: 900px;
    margin: 10px 20px 10px 40px;
    background-color: #ccc;
    box-shadow: 0px 10px 25px #000a;
    image-rendering: pixelated;
    cursor: pointer;
}
#controls {
    float: left;
    width: calc( 100% - 980px );
}

.box {
    float: left;
    border-radius: 8px;
    margin: 10px;
    padding: 20px 30px;
    background-color: #404040;
    box-shadow: 0px 4px 6px #0004;
}
.box > h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

select {
    padding: 3px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ddd;
    background-color: #444;
}
option {
    color: #ddd;
    background-color: #444;
}
option[disabled]{
    font-weight: bold;
    font-variant: small-caps;
    color: #bbb;
    background-color: #333;
}

#transform-info {
    margin-top: 10px;
    padding: 8px;
    border-radius: 8px;
    background-color: #3b3b3b;
    box-shadow: inset 0px 2px 4px #0004;
}
    table.matrix {
        display: inline-block;
        vertical-align: middle;
        padding: 2px 4px 3px;
        border-radius: 10px;
        border-left: 2px #aaa solid;
        border-right: 2px #aaa solid;
        border-top: 1px #3b3b3b solid;
        border-bottom: 1px #3b3b3b solid;
    }
    table.matrix td{
        text-align: center
    }
    #transform-info .big{
        display: block;
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }
    #transform-info .x-var, #transform-info .y-var{
        color: #99f
    }

#drawing {
    max-width: 16%;
}
#drawing-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#drawing button {
    margin: 4px 2px;
    flex-grow: 1;
}

button {
    color: #ccc;
    margin: 10px;
    padding: 4px 10px;
    background-color: #444;
    box-shadow: 0px 4px 4px #0004;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 10px;
}
button:hover {
    background-color: #464646;
    box-shadow: 0px 2px 2px #0004;
}
button:active {
    color: #aaa;
    background-color: #3c3c3c;
    box-shadow: inset 0px 2px 4px #0004;
}

button.important {
    color: #bbcaca;
    font-size: 1.2em;
    background-color: #3c4747;
}
button.important:hover {
    background-color: #3e5050;
}
button.important:active {
    color: #a3bbbb;
    background-color: #303a3a;
}

input[type=radio] { position: relative; top: 3px; margin-right: 4px }
input[type=radio]:before { 
    content: '';
    pointer-events: none;
    position: absolute;
    left: -4px; top: -4px;
    width: 10px; height: 10px;
    border-radius: 10px;
    background-color: #444;
    border: solid #333 5px;
}
input[type=radio]:active:before {
    background-color: #333;
}
input[type=radio]:checked:before {
    background-color: #222;
}