/* REACTIVE SCREEN SIZE STUFF */
@media screen and (max-width: 720px) {
    #name {
        font-size: 30px;
        height: 40px;
    }
    .underline {
        border-top: 2px solid white;
    }
    #generate-button {
        font-size: 12px;
        padding: 2px;
        padding-left: 4px;
        padding-right: 4px;
    }
    #checkboxes-wrapper {
        width: 65%;
    }
}

@media screen and (min-width: 720px) {
    #name {
        font-size: 40px;
        height: 50px;
    }
    .underline {
        border-top: 3px solid white;
    }
    #generate-button {
        font-size: 15px;
        padding: 4px;
        padding-left: 6px;
        padding-right: 6px;
    }
    #checkboxes-wrapper {
        width: 60%;
    }
}

@media screen and (min-width: 1000px) {
    #name {
        font-size: 55px;
        height: 65px;
    }
    #generate-button-wrapper{
        width: 35%;
    }
    #checkboxes-wrapper {
        width: 50%;
    }
}

@media screen and (min-width: 1300px) {
    #name {
        font-size: 70px;
        height: 80px;
    }
    .underline {
        border-top: 3px solid white;
    }
    #generate-button {
        padding: 6px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 20px;
    }
    #generate-button-wrapper{
        width: 55%;
    }
    #checkboxes-wrapper {
        width: 35%;
    }
}

/* ACTUAL STYLE */

.unselectable {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: adobe-garamond-pro, OptimusPrinceps, Minion Pro, Times New Roman, Arial;
    font-weight: 400;
    font-style: normal;
    color: white;
}


#main {
    margin-bottom: 40px;
    margin-left: 5%;
    margin-top: 8%;
    width: 90%;
}
#main.transp { background-color: transparent }
#main.chroma { background-color: #00f }

.content {
    background-color: rgba(0, 8, 8, 0.7);
    padding: 20px;
    border-radius: 8px;
}

    .content.lesser {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 40px;
        float: left;
        width: auto;
    }

    .content h4 {
        margin-top: 0;
        display: inline-block;
        margin-right: 20px;
    }

#stars {
    text-align: right;
    word-wrap: break-word;
    font-size: 10px;
    text-shadow: 0px 0px 8px;
    letter-spacing: 10px;
    opacity: 0.9;
}
    #stars .area { color: #FFFFFF }
    #stars .easter-egg { color: #AACCFF }
    .chroma #stars { visibility: hidden }

#name {
    position: relative;
    z-index: 1;
    width: 100%;
    float: left;
    text-align: center;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.7);
}

.underline {
    float: left;
    position: relative;
    top: -29px;
    margin-left: 15%;
    margin-top: 20px;
    width: 70%;
    border-bottom: 2px solid #0004;
    opacity: 0.8;
    -webkit-mask-image: radial-gradient( ellipse 50% 20px at 50% 50%, #000 0, #000 80%, transparent 100%);
    mask-image: radial-gradient( ellipse 50% 20px at 50% 50%, #000 0, #000 80%, transparent 100%);
}

#name-underline-wrapper {
    -webkit-transition: opacity 2s ease;
    transition: opacity 2s ease;
    opacity: 1;
}
    #name-underline-wrapper.faded-out { opacity: 0 }

#checkboxes-wrapper{
    display: inline-block;
}

#generate-button-wrapper{
    display: inline-block;
    margin-right: 3%;
}

#generate-button {
    float: right;
    font-family: Tahoma, Arial;
    color: #FFFFEE;
    background-image: linear-gradient(to bottom, orange, orangered);
    background-color: orangered;
    border: none;
    border-top: 1px solid rgb(255, 174, 0);
    text-shadow: 0 -1px 0 rgb(211, 42, 0);
}
#generate-button:active {
    background-image: linear-gradient(to bottom, orange, rgb(199, 40, 0));
    background-color: rgb(199, 40, 0);
}

.btn {
    opacity: 0.9;
    font-family: Tahoma, Arial;
    color: #DDEEEE;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.option-button {
    opacity: 0.9;
    font-size: 12px;
    font-family: Tahoma, Arial;
    color: #FFDDDD;
    float: right;
    padding: 2px;
    display: table-cell;
    margin-left: 8px;
}

#main label {
    display: inline-block;
    min-width: 120px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0px 0px 1px #1118
}
    label.special { color: #88BBDD; }
    label.custom  { color: #ffaaaa; }

.input-title{
    display: inline-block;
    min-width: 60px;
}

.example {
    display: inline-block;
    min-width: 300px;
    font-family: Dejavu Sans Mono, Courier New;
    font-size: 12px;
    opacity: 0.6;
    padding-left: 20px;
}

.help {
    font-family: Arial;
    font-size: 11px;
    opacity: 0.6;
}

textarea, input {
    background-color: #ddeeff;
    font-family: Dejavu Sans Mono, Courier New;
    color: black;
}

.credits {
    position: fixed;
    bottom: 20px;
    opacity: 0.9;
    font-family: Tahoma, Arial;
    font-size: 16px;
    text-shadow: 1px 1px 1px black, 0px 0px 20px #111, 0px 0px 20px #111;
}
    .credits.left {
        left: 30px;
        font-family: adobe-garamond-pro, OptimusPrinceps, Minion Pro, Times New Roman, Arial;
        font-size: 18px;
    }
    .credits.right {
        right: 30px;
    }

    .credits > a {
        text-decoration: underline;
        color: white;
    }
        .credits > a:hover { color: orange }
    
    .credits > .dash {
        margin-left: 10px;
        margin-right: 10px;
    }

.bottom-fade {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0px;

    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
}

.background-layer {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0s ease;
    transition: opacity 0s ease;
}
    .background-layer.faded {
        opacity: 0;
        -webkit-transition: opacity 3s ease;
        transition: opacity 3s ease;
    }

#world-layer {
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
    background-color: white;
    background-blend-mode: difference;
}
