
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hidden {
    display: none!important;
}
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
button, input, select, textarea {
    margin: 0;
    max-width: 100%;
    font: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input[type=range] {
    display: block;
    width: 100%;
}
input[type=checkbox] {
    top: 2px;
    position: relative;
    margin: 2px 4px
}
input[type=color] {
    border: none;
    border-radius: 2px;
}
input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type=color]::-webkit-color-swatch {
	border: none;
    border-radius: 2px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}