<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
    {% include head-custom.html %}
</head>

<body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
            {% if site.github.is_project_page %}
                <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
            {% endif %}

            {% comment %}
            <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
            <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
            {% endcomment %}

            <div class="rezuaq-logo-wrap">
                <img src="/assets/img/rezuaq logo w.svg" alt="Rezuaq" />
                <span class="dot-be">.be</span>
            </div>

            {% if site.show_downloads %}
                <section id="downloads">
                    <a class="zip_download_link" href="{{ site.github.zip_url }}">Download this project as a .zip file</a>
                    <a class="tar_download_link" href="{{ site.github.tar_url }}">Download this project as a tar.gz file</a>
                </section>
            {% endif %}
        </header>
    </div>

    <!-- FAKE HEADER -->
    <div class="outer" style="position: absolute; top: 0; pointer-events: none; z-index: -1;">
        <div class="inner" style="padding: 50px 10px 30px 10px">
            <div class="rezuaq-logo-wrap">
                <img src="/assets/img/rezuaq logo b.svg" />
            </div>
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
            {{ content }}
        </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
            {% if site.github.is_project_page %}
                <p class="copyright">
                    {{ site.title | default: site.github.repository_name }} maintained by
                    <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
                </p>
            {% endif %}
            <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
        </footer>
    </div>

    <!-- SVG FILTERS -->
    <svg
        xmlns="http://www.w3.org/2000/svg"
        style="position: absolute; width: 0; height: 0; visibility: hidden"
    >
        <defs>
            <filter id="displacementFilter">
                <feTurbulence
                    type="turbulence"
                    baseFrequency="0.01"
                    numOctaves="1"
                    result="turbulence"
                />
                <feOffset in="SourceGraphic" result="offset">
                    <animate
                        attributeName="dx"
                        values="0;-100;0"
                        calcMode="spline"
                        keyTimes="0;0.9;1"
                        keySplines="0 1 0.5 1; 0.5 0 0.8 1"
                        dur="5s"
                        begin="indefinite"
                    />
                    <animate
                        attributeName="dy"
                        values="0;-100;0"
                        calcMode="spline"
                        keyTimes="0;0.9;1"
                        keySplines="0 1 0.5 1; 0.5 0 0.8 1"
                        dur="5s"
                        begin="indefinite"
                    />
                </feOffset>
                <feDisplacementMap
                    in="offset"
                    in2="turbulence"
                    xChannelSelector="R"
                    yChannelSelector="G"
                >
                    <animate
                        attributeName="scale"
                        values="0;400;0"
                        calcMode="spline"
                        keyTimes="0;0.9;1"
                        keySplines="0 1 0.5 1; 0.5 0 0.8 1"
                        dur="5s"
                        begin="indefinite"
                    />
                </feDisplacementMap>
            </filter>
        </defs>
    </svg>

</body>

<script>

    Array.from(document.getElementsByClassName("rezuaq-logo-wrap")).forEach(w => {
        w.addEventListener("click", () => {
            const dur = 2 + Math.random() * 6 + "s"; // [2, 8]s
            const freq = 1/(1 + Math.random() * 2.3)**5; // approx. [0.002, 0.4]
            const octaves = Math.floor(1 + Math.random() * 5);

            const filter = document.getElementById("displacementFilter");

            Array.from(filter.getElementsByTagName("feTurbulence")).forEach(f => {
                f.setAttribute("baseFrequency", freq);
                f.setAttribute("numOctaves", octaves);
            });

            Array.from(filter.querySelectorAll("feOffset > animate")).forEach(a => {
                a.setAttribute("values", `0;${ -400/2/octaves };0`);
            });

            Array.from(filter.getElementsByTagName("animate")).forEach(a => {
                a.setAttribute("dur", dur);
                a.beginElement();
            });
        })
    })

</script>

</html>